SEWebClient/src/META-INF/wsdl/localhost_8080/Auction.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webService/" name="AuctionWebServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://webService/" schemaLocation="http://localhost:8080/Auction?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="createUser">
<part name="parameters" element="tns:createUser"></part>
</message>
<message name="createUserResponse">
<part name="parameters" element="tns:createUserResponse"></part>
</message>
<message name="loginUser">
<part name="parameters" element="tns:loginUser"></part>
</message>
<message name="loginUserResponse">
<part name="parameters" element="tns:loginUserResponse"></part>
</message>
<message name="getAuctions">
<part name="parameters" element="tns:getAuctions"></part>
</message>
<message name="getAuctionsResponse">
<part name="parameters" element="tns:getAuctionsResponse"></part>
</message>
<message name="bid">
<part name="parameters" element="tns:bid"></part>
</message>
<message name="bidResponse">
<part name="parameters" element="tns:bidResponse"></part>
</message>
<portType name="AuctionWebService">
<operation name="createUser">
<input wsam:Action="http://webService/AuctionWebService/createUserRequest" message="tns:createUser"></input>
<output wsam:Action="http://webService/AuctionWebService/createUserResponse" message="tns:createUserResponse"></output>
</operation>
<operation name="loginUser">
<input wsam:Action="http://webService/AuctionWebService/loginUserRequest" message="tns:loginUser"></input>
<output wsam:Action="http://webService/AuctionWebService/loginUserResponse" message="tns:loginUserResponse"></output>
</operation>
<operation name="getAuctions">
<input wsam:Action="http://webService/AuctionWebService/getAuctionsRequest" message="tns:getAuctions"></input>
<output wsam:Action="http://webService/AuctionWebService/getAuctionsResponse" message="tns:getAuctionsResponse"></output>
</operation>
<operation name="bid">
<input wsam:Action="http://webService/AuctionWebService/bidRequest" message="tns:bid"></input>
<output wsam:Action="http://webService/AuctionWebService/bidResponse" message="tns:bidResponse"></output>
</operation>
</portType>
<binding name="AuctionWebServicePortBinding" type="tns:AuctionWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="createUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="loginUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAuctions">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="bid">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="AuctionWebServiceService">
<port name="AuctionWebServicePort" binding="tns:AuctionWebServicePortBinding">
<soap:address location="http://localhost:8080/Auction"></soap:address>
</port>
</service>
</definitions>