SEWebClient/src/META-INF/wsdl/localhost_8080/Auction.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://webService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webService/">

<xs:element name="bid" type="tns:bid"></xs:element>

<xs:element name="bidResponse" type="tns:bidResponse"></xs:element>

<xs:element name="createUser" type="tns:createUser"></xs:element>

<xs:element name="createUserResponse" type="tns:createUserResponse"></xs:element>

<xs:element name="getAuctions" type="tns:getAuctions"></xs:element>

<xs:element name="getAuctionsResponse" type="tns:getAuctionsResponse"></xs:element>

<xs:element name="loginUser" type="tns:loginUser"></xs:element>

<xs:element name="loginUserResponse" type="tns:loginUserResponse"></xs:element>

<xs:complexType name="createUser">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAuctions">
<xs:sequence>
<xs:element name="arg0" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAuctionsResponse">
<xs:sequence>
<xs:element name="return" type="tns:auctionObject" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="auctionObject">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="bid">
<xs:sequence>
<xs:element name="arg0" type="xs:int"></xs:element>
<xs:element name="arg1" type="xs:int"></xs:element>
<xs:element name="arg2" type="xs:double"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bidResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginUser">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>